*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.product-category{
    background-color: #96C291;
    padding: 30px 0;
}
.all-products{
    max-width: 1200px;
    margin: 0 auto; 
}
 
.all-products > h2{
    margin-left: 2%;
    font-weight: bold;
    padding: 30px 0px 15px 0px;
}
.banner img{
    width: 100%;
    object-fit: cover;
    /* margin-bottom: 50px; */
}
.banner h1{
    text-align: center;
    padding: 70px 0;
    color: #1D5D9B;
    font-size: 45px;
    font-weight: bold;
}
.product-card img{
    max-width: 70%;
}
.product-card {
    border: 1px solid #ccc;
    padding: 25px;
    text-align: center;
    width: 270px;
    height: 315px;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: #DBE2EF;
  }
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.product-card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}
.product-card p{
     color: #3F72AF;
     font-size: 16px;
}
.product-card span {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #E55604;
  } 
  
  .footer{
    text-align: center;
    background-color: #AED8CC;
    padding: 20px 0;
    font-size: 18px;
    /* margin-top: 60px; */
  }

  /* responsive design */
  /* Small screens (e.g., mobile phones) */
@media (max-width: 576px) {
    .product-card {
      width: 85%; /* Make product cards take up the full width */
    }
    .all-products > h2{
        margin-left: 9%;
    }
  }

  /* Medium screens (e.g., tablets) */
@media (min-width: 577px) and (max-width: 992px) {
    .product-card {
      width: 35%; /* Make product cards take up half of the width */
    }
    .all-products > h2{
        margin-left: 14%;
    }
  }

  
 